---
export interface Props {
	genre: String
}

const { genre } = Astro.props;
---
<a href={`https://anilist.co/search/anime?genres=${genre}`} class="transform rounded bg-black p-1 text-xs text-white transition duration-300 ease-out hover:scale-105 sm:text-sm">
    {genre}
</a>