---
import NNNIcon from "./NNNIcon.astro";
import QuestionIcon from "./QuestionIcon.astro";
import SearchIcon from "./SearchIcon.astro";
---
<header class="sticky top-0 z-[51] flex h-12 w-full items-center bg-gray-900 shadow-md">
    <a href="./">
        <NNNIcon class="cursor-pointer sm:ml-6" />
    </a>
    <div class="ml-4 flex items-center rounded bg-gray-50 py-[1px] px-3 sm:ml-6">
        <SearchIcon/>
        <input
            id="search-input"
            class="w-44 bg-transparent p-1 text-sm text-black placeholder-gray-400 outline-none sm:w-56 md:w-64 lg:w-72"
            placeholder="Search for Nyaanime to watch"
        />
    </div>
    <button class="absolute right-6" onclick="HandleAbout()">
        <QuestionIcon class="cursor-pointer"/>
    </button>
</header>

<script is:raw>
    // Handle the about button.
    function HandleAbout() {
        // If the url doesn't contain "/about".
        if (window.location.href.indexOf("/about") == -1) {
            // Redirect to about page.
            window.location.href = "./about"
        } else {
            // Else go back to home page.
            window.location.href = "./.."
        }
    }
</script>

<script is:raw>
    // On document loaded call the handle search function.
    document.addEventListener('DOMContentLoaded', HandleSearch, false);
    function HandleSearch() {
        // Get the input field.
        var input = document.getElementById("search-input");

        // Make sure the input value is null on load.
        document.querySelector("input").value = null;

        // Add an EventListener on keypresses.
        input.addEventListener("keypress", function(event) {
            // If the user presses the "Enter" key on the keyboard and Cancel if the input is null.
            if (event.key === "Enter" && document.querySelector("input").value != "") {
                // Trigger the button element with a click.
                window.location.href = "https://anilist.co/search/anime?search=" + document.querySelector("input").value;
            }
        })
} 
</script>