<div class="inline-flex w-full items-center mt-4 mb-2">
    <span class="relative font-extrabold mr-4 label-text"><slot/></span>
    <hr class="h-[2px] max-h-[1px] bg-secondary/80 border-0 flex-1">
</div>