---
export interface Props {
	title: string;
	placeholder: string;
    id: string;
}

const { title, placeholder, id } = Astro.props;
---

<div class="form-control w-full mx-1 custom-basis max-md:min-w-full">
    <label class="label">
        <span class="label-text">{title}</span>
    </label>
    <input type="text" id={id} placeholder={placeholder} class="input input-bordered w-full max-w-full" />
</div>
<style>
	.custom-basis {
		flex-basis: calc((100% / 2) - 0.5rem);
	}
</style>