---
export interface Props {
	title: string;
    id: string;
    checked?: string;
}
const { title, id, checked } = Astro.props;
---
<div class="form-control mx-4 my-1 custom-basis max-md:min-w-full">
    <label class="label cursor-pointer">
        <input id={id} type="radio" name="radio-10" class="radio checked:bg-primary" onclick=handleSettingClass(this) {checked}/>
        <span class="label-text pl-4">{title}</span>
        <div class="flex-1"></div>
    </label>
</div>
<style>
	.custom-basis {
		flex-basis: calc((100% / 4) - 2rem);
	}
</style>