<!-- <main class="m-auto min-h-[85.75vh] max-w-[80%] p-6 max-md:max-w-full flex items-center flex-col"> -->
<img class="w-[45vh]" src="./404.jpg" />
<strong>To be Implemented...</strong>
<!-- </main> -->
