---
import Layout from '../layouts/Layout.astro';
---

<Layout title="OwO - 404">
	<main>
		<h1>404 - Not found</h1>
		<p>Please use a valid link.</p>
		<img src="./404.jpg"/>
	</main>
</Layout>

<style>
	main {
		text-align: center;
	}

	img {
		max-height: 50%;
		max-width: 75%;
		width: 40vh;
	}
</style>