---
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SWL - About SWL">
	<main class="m-auto min-h-[96vh] max-w-[80%] p-6 max-md:max-w-full">
		<h1 class="prose-2xl font-bold">About <span class="text-gradient">SchoolWork List</span></h1>
		<p class="instructions prose mb-4">
			Informations about this website, and links for the website's source code~<br />
		</p>
		<div class="mockup-window bg-base-300 border-primary/25 mt-10 border">
			<div class="bg-base-200 flex flex-1 flex-col px-24 py-8 align-top max-md:px-6 max-md:pt-2 max-md:pb-8">
				<Heading>What is this website for?</Heading>
				<div class="mx-8 my-2 mb-8 max-md:mx-2">
					This website is for listing our school's homeworks and its details so students can easily access it. The list would be updated every time a new homework is given. It is similar to
					Google Classroom, but built and maintained by us!
				</div>
				<Heading>Why are there ads?</Heading>
				<div class="mx-8 my-2 mb-8 max-md:mx-2">
					Ads that are shown in the website are from Google Adsense. Revenue from Ads shown are given to the maintainer of the homework list, and maintainer of the website. However, if you
					feel like the ads are distracting, you can turn it off in the settings.
				</div>
				<Heading>How do I disable ads?</Heading>
				<div class="mx-8 my-2 mb-8 max-md:mx-2">
					You could disable ads by clicking on your profile on the top right &nbsp;<div class="avatar placeholder">
						<div class="bg-neutral-focus text-neutral-content w-3 rounded-full">
							<img src="https://img-os-static.hoyolab.com/avatar/avatar30038.png" />
						</div>
					</div>&nbsp; then go into&nbsp;<button class="btn btn-xs btn-outline">Settings</button>&nbsp;and turn off <span class="underline">Enable Ads</span>. After that, click on&nbsp;<button
						class="btn btn-xs btn-primary">Save and Apply</button
					>&nbsp;and the ads will be turned off.
				</div>
				<Heading>Tools used for this site?</Heading>
				<div class="mx-8 my-2 mb-8 max-md:mx-2">
					This website uses the following tools to speed up development:
					<a class="link link-primary font-bold" href="https://astro.build">Astro</a>,
					<a class="link link-primary font-bold" href="https://tailwindcss.com">TailwindCSS</a>,
					<a class="link link-primary font-bold" href="https://daisyui.com">DaisyUI</a>, and
					<a class="link link-primary font-bold" href="https://turbo.build/repo">Turborepo</a>. <br /><br />
					Astro Integration used:
					<a class="link link-accent font-bold" href="https://github.com/astro-community/astro-compress">astro-compress</a>,
					<a class="link link-accent font-bold" href="https://docs.astro.build/en/guides/integrations-guide/tailwind">@astrojs/tailwind</a> and
					<a class="link link-accent font-bold" href="https://docs.astro.build/en/guides/integrations-guide/mdx">@astrojs/mdx</a>. <br /><br />
					Javascript libraries:
					<a class="link link-primary font-bold" href="https://momentjs.com">moment.js</a>,
					<a class="link link-primary font-bold" href="https://github.com/orestbida/iframemanager">iframemanager</a>,
					<a class="link link-primary font-bold" href="https://github.com/localForage/localForage">localforage</a>, and
					<a class="link link-primary font-bold" href="https://turbo.hotwired.dev/">turbo</a>. <br /><br />
					Hosted on:
					<a class="link link-accent font-bold" href="https://sonicj.pages.dev/09%20SchoolworkList-UI/">Cloudflare Pages</a> and
					<a class="link link-accent font-bold" href="https://sonicjhon1.github.io/09%20SchoolworkList-UI/">Github Pages (Mirror)</a>. <br /><br />
					Github repository (source code):
					<a class="link link-primary font-bold" href="https://github.com/sonicjhon1/sonicjhon1.github.io/tree/main/09%20SchoolworkList-UI">09 SchoolworkList-UI</a> and
					<a class="link link-primary font-bold" href="https://github.com/sonicjhon1/sonicjhon1.github.io/tree/main/09%20SchoolworkListMDX-UI">09 SchoolworkListMDX-UI</a>. <br /><br />
					Private Github repository for list database:
					<a class="link link-accent font-bold" href="">schoolworklist</a>.
				</div>
				<Heading>Founder of this site</Heading>
				<div class="mx-8 my-2 mb-8 max-md:mx-2">
					<div class="tooltip tooltip-primary" data-tip="Lead Developer">
						<a class="link font-bold">Sonicj</a>,&nbsp;
					</div>
					<div class="tooltip tooltip-primary" data-tip="Friend, Admin, Developer (otw)">
						<a class="link font-bold">Vlaze</a>,&nbsp;
					</div>
					<div class="tooltip tooltip-primary" data-tip="Friend, Admin">
						<a class="link font-bold">Enzo</a> and&nbsp;
					</div>
					<div class="tooltip tooltip-primary" data-tip="Friend, Admin">
						<a class="link font-bold">Plaeneth</a>. <br />
					</div>
					Shoutout to the old group with the original idea from WhatsApp too!
				</div>
			</div>
		</div>
	</main>
	<style>
		.text-gradient {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
		}
	</style>
</Layout>
