---
import TBI from "../components/TBI.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="SWL - About SWL">
    <main class="m-auto min-h-[85.75vh] max-w-[80%] p-6 max-md:max-w-full flex items-center flex-col">
        <TBI/>
    </main>
</Layout>