---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SWL - View Post">
	<main class="m-auto max-h-[90vh] max-w-[100%] max-md:max-w-full">
		<div data-service="mdxui" style="width: 100%; height: 90vh;">
			<div data-placeholder data-visible class="flex-col">
				<img class="w-[20%]" src="./404.jpg" />
				<p>An error occoured while loading the data.</p>
			</div>
		</div>
	</main>
</Layout>
<script is:inline>
	var im = iframemanager();
	async function applyDisclaimer() {
		var settings = await localforage.getItem("settings");
		if (settings == undefined) return;
		if (settings["disclaimer"] != undefined && typeof settings["disclaimer"] === "boolean" && settings["disclaimer"] === true) {
			im.acceptService("all");
		} else {
			im.rejectService("all");
		}
	}
	var backendURL = document.getElementById("backendURL").dataset.backendurl;
	var postParam = new URL(window.location.href).searchParams.get("post");
	var classParam = new URL(window.location.href).searchParams.get("class");
	var postURL = backendURL + classParam + "/" + postParam;
	var thumbURL = new URL(window.location.href).searchParams.get("t")
		? backendURL + new URL(window.location.href).searchParams.get("t")
		: "https://genshin.global/wp-content/uploads/2022/05/raiden-shogun-yae-miko-official-desktop-wallpaper-genshin-2560x1440-1-2048x1152.jpg";
	applyDisclaimer();
	im.run({
		currLang: "en",
		services: {
			mdxui: {
				embedUrl: postURL,

				thumbnailUrl: thumbURL,

				iframe: {
					allow: "fullscreen;",
				},

				languages: {
					en: {
						notice: "Upon loading the content, this page will fetch a post from a seperate server that is controlled by the a group of writers. The writer is responsible for every infomation and data given in posts written by him/her.",
						loadBtn: "Load it once",
						loadAllBtn: "Load it and Don't ask again",
					},
				},
			},
		},
	});
</script>
