---
import TBI from "../components/TBI.astro";
import ThemeCard from "../components/ThemeCard.astro";
import Toggle from "../components/Toggle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SWL - Settings">
	<main class="m-auto min-h-[85.75vh] max-w-[80%] p-6 max-md:max-w-full">
		<h1 class="prose-2xl font-bold">Change <span class="text-gradient">Settings</span></h1>
		<p class="instructions prose mb-4">
			Settings are saved to the browser's localstorage, it won't sync to other devices.<br />
		</p>
		<div id="setting-tabs" class="tabs tabs-boxed border-base-content/10 border font-semibold">
			<a id="general" class="tab tab-active">General</a>
			<a id="personalization" class="tab">Personalization</a>
			<a id="backup" class="tab">Backup</a>
		</div>
		<div id="setting-container" class="border-base-content/10 bg-primary-content/80 my-4 rounded-lg border py-6 px-40 max-lg:px-6">
			<div id="general">
				<div class="flex flex-col items-center font-bold">
					<Toggle text="Enable Turbo JS" id="turbo-js" action="handleSettingToggles(this)" checked="" />
					<Toggle text="Use custom Backend server URL" id="custom-backend-url" action="handleSettingToggles(this)" />
					<input
						id="custom-backend-url-text"
						type="text"
						placeholder="Paste custom backend URL here!"
						class="input input-bordered input-primary mt-1 mb-4 w-[60%] max-w-4xl font-normal max-lg:w-[100%]"
						disabled
					/>
					<Toggle text="Enable Analytic" id="analytic" action="handleSettingToggles(this)" />
				</div>
			</div>
			<div id="personalization" class="hidden">
				<div class="flex flex-wrap">
					<ThemeCard action="handleSettingToggles(this)" theme="dark" />
					<ThemeCard action="handleSettingToggles(this)" theme="dracula" />
					<ThemeCard action="handleSettingToggles(this)" theme="night" />
					<ThemeCard action="handleSettingToggles(this)" theme="halloween" />
					<ThemeCard action="handleSettingToggles(this)" theme="business" />
					<ThemeCard action="handleSettingToggles(this)" theme="forest" />
					<ThemeCard action="handleSettingToggles(this)" theme="black" />
					<ThemeCard action="handleSettingToggles(this)" theme="luxury" />
					<ThemeCard action="handleSettingToggles(this)" theme="coffee" />
					<ThemeCard action="handleSettingToggles(this)" theme="light" />
					<ThemeCard action="handleSettingToggles(this)" theme="emerald" />
					<ThemeCard action="handleSettingToggles(this)" theme="corporate" />
					<ThemeCard action="handleSettingToggles(this)" theme="garden" />
					<ThemeCard action="handleSettingToggles(this)" theme="lofi" />
					<ThemeCard action="handleSettingToggles(this)" theme="fantasy" />
					<ThemeCard action="handleSettingToggles(this)" theme="wireframe" />
					<ThemeCard action="handleSettingToggles(this)" theme="cmyk" />
					<ThemeCard action="handleSettingToggles(this)" theme="autumn" />
					<ThemeCard action="handleSettingToggles(this)" theme="acid" />
					<ThemeCard action="handleSettingToggles(this)" theme="lemonade" />
					<ThemeCard action="handleSettingToggles(this)" theme="winter" />
					<ThemeCard action="handleSettingToggles(this)" theme="valentine" />
					<ThemeCard action="handleSettingToggles(this)" theme="cyberpunk" />
				</div>
			</div>
			<div id="backup" class="hidden">
				<button class="btn">Backup</button>
				<button class="btn btn-primary">Button</button>
				<button class="btn btn-secondary">Button</button>
				<button class="btn btn-accent">Button</button>
				<button class="btn btn-ghost">Button</button>
				<button class="btn btn-link">Button</button>
				<main class="m-auto flex max-w-[80%] flex-col items-center p-6 max-md:max-w-full">
					<TBI />
				</main>
			</div>
			<div id="setting-button" class="flex justify-end max-md:flex-col">
				<button class="btn btn-error m-1">Reset defaults</button>
				<button class="btn btn-primary m-1" onclick="saveSettings()">Save and Apply</button>
			</div>
		</div>
	</main>
</Layout>
<script is:inline>
	var settingsTab = document.getElementById("setting-tabs");
	var activeTab = document.getElementById("setting-tabs").querySelector(".tab-active");
	var settingsContainer = document.getElementById("setting-container");

	function switchSettingsTab(obj) {
		activeTab.classList.toggle("tab-active");
		obj.classList.toggle("tab-active");
		activeTab = obj;
	}

	function switchSettingsContainer(obj) {
		Array.from(settingsContainer.children).forEach((container) => {
			if (container.id == "setting-button") return;
			container.classList.add("hidden");
		});
		settingsContainer.querySelector("#" + obj.id).classList.remove("hidden");
	}

	Array.from(settingsTab.children).forEach((tab) => {
		tab.addEventListener("click", () => {
			if (tab.classList.contains("tab-active")) return;
			switchSettingsTab(tab);
			switchSettingsContainer(tab);
		});
	});
</script>
<script is:inline>
	function handleSettingToggles(elementToggle) {
		switch (elementToggle.id) {
			case "turbo-js":
			case "analytic":
				break;
			case "custom-backend-url":
				document.getElementById("custom-backend-url-text").disabled = !elementToggle.checked;
				break;
			default:
				if (elementToggle.id.includes("theme-")) {
					handleSettingTheme(elementToggle);
					break;
				}
				console.log("Setting '", elementToggle.id, "' does not exist");
				break;
		}
	}

	function handleSettingTheme(elementToggle) {
		Array.from(document.getElementsByClassName("theme-selected")).forEach((themeCard) => {
			themeCard.classList.remove("theme-selected");
		});
		elementToggle.classList.add("theme-selected");
		document.querySelector("HTML").dataset.theme = elementToggle.id.slice(6)
	}

	function saveSettings() {
		let settings = {
			"turbo-js": document.getElementById("turbo-js").checked,
			"custom-backend-url": document.getElementById("custom-backend-url").checked,
			"custom-backend-url-text": document.getElementById("custom-backend-url-text").value,
			"analytic": document.getElementById("analytic").checked,
			"theme": document.querySelector(".theme-selected").id.slice(6)
		};
		localforage.setItem("settings", settings).then(function () {
			applySettings();
		});
	}

	async function restoreSettings() {
		var settings = await localforage.getItem("settings");
		if (settings == undefined) return;
		document.getElementById("turbo-js").checked = settings["turbo-js"];
		document.getElementById("custom-backend-url").checked = settings["custom-backend-url"];
		document.getElementById("custom-backend-url-text").disabled = !settings["custom-backend-url"];
		document.getElementById("custom-backend-url-text").value = settings["custom-backend-url-text"];
		document.getElementById("analytic").checked = settings["analytic"];
		try {
			handleSettingTheme(document.getElementById("theme-" + settings["theme"]));
		} catch (e) {
			console.log(e);
		}
	}

	addEventListener("turbo:load", () => {
		if (window.location.href.indexOf("settings") > -1) {
			restoreSettings();
		}
	});
</script>
<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
