---
import Layout from "../layouts/Layout.astro";
import { ChatHandler } from "../assets/ts/chat-handler";
---

<Layout title="Chat">
	<h1>{ChatHandler()}</h1>
</Layout>
<script>
    import {ChatHandler} from "../assets/ts/chat-handler";
    ChatHandler();
</script>