---
import Layout from "../layouts/Layout.astro";
import Chats from "../components/Chats.astro";
import Main from "../components/Main.astro";
import Filter from "../components/Filter.astro";
---

<Layout title="Gawr Bot">
	<div class="flex flex-row">
		<Filter />
		<Chats />
		<Main />
	</div>
</Layout>
