---
import Layout from "../layouts/Layout.astro";
import Chats from "./Chats.astro";
import Main from "./Main.astro";
import SideBar from "../components/SideBar.astro";
---

<Layout title="Gawr Bot">
	<div class="flex min-h-[100vh] min-w-fit p-2 bg-base-300">
		<div class="flex flex-row min-h-full min-w-full rounded-md bg-base-100">
			<SideBar />
			<Chats />
			<Main />
		</div>
	</div>
</Layout>
