---
import Header from "../components/Header.astro";
import Messages from "./Messages.astro";
import InputBar from "../components/InputBar.astro";
---

<div class="flex flex-col p-4 max-lg:hidden">
	Here lies the main component.
	<Header />
	<Messages />
	<InputBar />
</div>
