---
import Header from "../components/Header.astro";
import Messages from "./Messages.astro";
import InputBar from "../components/InputBar.astro";

const url = new URL(Astro.request.url);
const data = url.searchParams.get("data");
const jsonData = (() => {
	if (url.pathname === "/Main" && data) {
		return JSON.parse(data);
	} else {
		const data = `{
			"chat": {
				"chatName": "TestUser",
				"chatProfile": "https://raw.githubusercontent.com/sonicjhon1/sonicjhon1.github.io/main/09%20SchoolworkList-UI/src/assets/003.png"
			},
			"messages": [
				{
					"id": "ID is currently hidden to prevent leaks.",
					"messageAuthor": "1234567891234@c.us",
					"messageChat": "1234567891234@c.us",
					"messageCaption": "okok",
					"messageName": "TestUser",
					"messageTimestamp": 1683424432,
					"profilePicture": "https://raw.githubusercontent.com/sonicjhon1/sonicjhon1.github.io/main/09%20SchoolworkList-UI/src/assets/003.png",
					"userReceipt": null
				},
				{
					"id": "ID is currently hidden to prevent leaks.",
					"messageAuthor": "1234567891234@c.us",
					"messageChat": "1234567891234@c.us",
					"messageCaption": "Tp klo ad tmn gaslh",
					"messageFromMe": true,
					"messageHasMedia": false,
					"messageName": "Sonicj",
					"messageTimestamp": 1683104439,
					"userReceipt": null,
					"ack": 4
				},
				{
					"id": "ID is currently hidden to prevent leaks.",
					"messageAuthor": "1234567891234@c.us",
					"messageChat": "1234567891234@c.us",
					"messageCaption": "Sure",
					"messageName": "TestUser",
					"messageTimestamp": 1683104765,
					"profilePicture": "https://raw.githubusercontent.com/sonicjhon1/sonicjhon1.github.io/main/09%20SchoolworkList-UI/src/assets/003.png",
					"userReceipt": null
				},
				{
					"id": "ID is currently hidden to prevent leaks.",
					"messageAuthor": "1234567890123@c.us",
					"messageChat": "1234567890123@c.us",
					"messageCaption": "Word Wrapping test~~ Line breaking test~~~~ uwu!",
					"messageName": null,
					"messageTimestamp": 1683104765,
					"profilePicture": "https://raw.githubusercontent.com/sonicjhon1/sonicjhon1.github.io/main/09%20SchoolworkList-UI/src/assets/003.png",
					"userReceipt": null
				},
				{
					"id": "ID is currently hidden to prevent leaks.",
					"messageAuthor": "1234567890123@c.us",
					"messageChat": "1234567890123@c.us",
					"messageCaption": "TestttttttttttttttttttttttttttttttttttttttttttttttttttttttttTTTESSSSSSSSSSSSTTTTTTTTTTTTTTtttttttttttttttttttttttttttttttt~",
					"messageName": null,
					"messageTimestamp": 1683104765,
					"profilePicture": "https://raw.githubusercontent.com/sonicjhon1/sonicjhon1.github.io/main/09%20SchoolworkList-UI/src/assets/003.png",
					"userReceipt": null
				},
				{
					"id": "ID is currently hidden to prevent leaks.",
					"messageAuthor": "1234567890123@c.us",
					"messageChat": "1234567890123@c.us",
					"messageCaption": "Testtttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt TESSSSSSSSSSSSTTTTTTTTTTTTTTtttttttttttttttttttttttttttttttt~",
					"messageName": null,
					"messageTimestamp": 1683104765,
					"profilePicture": "https://raw.githubusercontent.com/sonicjhon1/sonicjhon1.github.io/main/09%20SchoolworkList-UI/src/assets/003.png",
					"userReceipt": null
				},
				{
					"id": "ID is currently hidden to prevent leaks.",
					"messageAuthor": "1234567890123@c.us",
					"messageChat": "1234567890123@c.us",
					"messageCaption": "OwO",
					"messageFromMe": true,
					"messageHasMedia": false,
					"messageName": "Sonicj",
					"messageTimestamp": 1683105000,
					"profilePicture": null,
					"userReceipt": null,
					"ack": 3
				},
				{
					"id": "ID is currently hidden to prevent leaks.",
					"messageAuthor": "1234567890123@c.us",
					"messageChat": "1234567890123@c.us",
					"messageCaption": "owo",
					"messageFromMe": true,
					"messageHasMedia": false,
					"messageName": "Sonicj",
					"messageTimestamp": 1683105100,
					"profilePicture": null,
					"userReceipt": null,
					"ack": 0
				}
			]}`;
		return JSON.parse(data);
	}
})();
---

<div class="flex flex-1 flex-col m-4 ml-3 max-sm:m-0 rounded-md bg-base-300 max-lg:hidden border-[1.5px] border-secondary/10" id="main" data-chat-phone={jsonData.chat.chatPhone}>
	<Header chatName={jsonData.chat.chatName} chatProfile={jsonData.chat.chatProfile} />
	<Messages messages={jsonData.messages} />
	<InputBar />
</div>
