---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import BackButton from '../components/BackButton.astro';
import HomeButton from '../components/HomeButton.astro';
import Card from '../components/Card.astro';
---
<Layout title="FAQs">
	<Header>
		<BackButton slot="BackButton"/>
		<HomeButton slot="HomeButton"/>
	</Header>
	<main class="min-h-full z-10 relative max-w-3xl pt-20 m-auto p-6">
		<h1 class="not-selectable text-center leading-7 font-Lato-400 py-6 text-slate-900/75 dark:text-gray-400/75">
			<span class="text-5xl font-Lato-900 text-transparent bg-clip-text bg-gradient-to-br from-sky-500 to-indigo-700">FAQs</span><br>
			(Frequently Asked Questions)
		</h1>
		<ul>
			<Card 
			title="How do I use this thing?"
			tldr="It's very simple!"
			body="Simply tap on any redeem codes in the home tab, and it will redirect you to Genshin's Redeem website with the code automatically filled in, then you can simply tap redeem!">
			</Card>
			<Card 
			title="Is this safe?"
			tldr="Yes, it is. "
			body="This is fully open-sourced, you can check the code in my Github repository below.">
			</Card>
			<Card 
			title="Can my Genshin account get banned / stolen?"
			tldr="Nope, "
			body="This website is just for redirecting the users to Genshin's redeem code website with the code automatically filled in. It is safe and open-sourced, links to Github below.">
				<a class="underline text-slate-800 dark:text-slate-200" href="https://github.com/sonicjhon1/sonicjhon1.github.io">The code in is the 03 folder.</a>
			</Card>
			<Card 
			title="How is this possible? How did you fill the code automatically?"
			tldr="This is possible because: "
			body="Genshin's website '?code=' parameters, and an API I created to scrape Genshin's redeem code. It is essentially free and automatic primogems :)">
			</Card>
			<Card
			title="Where did you get the redeem code from?"
			tldr="The redeem code is scraped from"
			body="a website contaning Genshin's redeem codes. ">
				<a class="underline text-slate-800 dark:text-slate-200" href="https://game8.co/games/Genshin-Impact/archives/304759">You can view the website here!</a>
			</Card>
			<Card
			title="So, can I use your API for my own APP / Projects?"
			tldr="Please don't, "
			body="My API currently have the limit of 100.000 request per day. If it exceeds this limit, other users won't be able to use this website until the limit resets.">
				<a class="underline text-slate-800 dark:text-slate-200" href="https://github.com/sonicjhon1/sonicjhon1.github.io/tree/main/03%20Genshin-Redeem-Code">But it's okay if you host your own API!</a>
			</Card>
		</ul>
	</main>
</Layout>