---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
import HomeButton from '../components/HomeButton.astro';
---
<Layout title="Genshin Redeems">
	<Header>
		<HomeButton slot="HomeButton"/>
	</Header>
	<main class="min-h-full max-w-3xl pt-20 m-auto p-6">
		<h1 class="text-center text-5xl font-Lato-900 py-6 m-0 text-slate-900 dark:text-white">Genshin's <span class="text-transparent bg-clip-text bg-gradient-to-br from-sky-500 to-indigo-700">Redeem Codes!</span></h1>
		<p class="bg-white rounded-lg p-4 mb-4 leading-relaxed border-solid border-2 border-sky-400 dark:border-violet-900 text-center">
			To get started, open the directory <code class="bg-indigo-700/90 font-mono text-purple-200 p-1.5 rounded">src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
			title="Documentation"
			tldr=""
			body="Learn how Lorem Ipsum works and explore the official API docs."
			/>
			<Card
			title="Integrations"
			tldr=""
			body="Supercharge your project with new frameworks and libraries."
			/>
		</ul>
	</main>
</Layout>

<style>
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>

<script>
    async function fetchGRC() {
        return (await fetch('https://genshin-redeem-code.sonicj.workers.dev/')).json();
    }

    document.addEventListener("DOMContentLoaded", async () => {
        try {
            const response = await fetchGRC();
			const responseLength = await response.length;
			for (let i=0; i < responseLength ; i++) {
				const code = response[i].match(/=(.+)/)[1];
				const link = response[i];
				console.log(code);
				console.log(link);
			}
        } catch (e) {
            console.log(e);
        }
    });
</script>