---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
import HomeButton from '../components/HomeButton.astro';
---
<Header>
	<HomeButton slot="HomeButton"/>
</Header>
<Layout title="Genshin Redeems">
	<main class="min-h-full pt-20">
		<h1 class="text-center text-5xl font-Lato-900 py-6 text-slate-900 dark:text-white">Genshin's <span class="text-transparent bg-clip-text bg-gradient-to-br from-sky-500 to-indigo-700">Redeem Codes!</span></h1>
		<p class="instructions text-center">
			To get started, open the directory <code class="bg-indigo-700/90 font-mono text-purple-200 p-1.5 rounded">src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				tldr=""
				title="Documentation"
				body="Learn how Lorem Ipsum works and explore the official API docs."
			/>
			<Card
				tldr=""
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	h1 {
		font-weight: 800;
		margin: 0;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
