* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(8, 8, 8);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

main {
    background-color: rgb(46, 56, 63);
}

header {
    overflow: hidden;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: rgb(31, 40, 45);
    color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.170);
}

.header-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../images/wavebg.webp");
    background-repeat: repeat;
    filter: opacity(0.05);
}

.header-content {
    position: absolute;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-body {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 2rem;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 10%;
    padding-left: 1rem;
}

.header-left > img {
    width: auto;
    height: 100%;
}

.header-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.header-content-middle-search {
    flex: 1;
    margin: 0 20%;
    padding: 0 2.5%;
    min-height: 2rem;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.170);
    font-family: 'Poppins', sans-serif;
    background-color: rgb(23 28 33);
    color: white;
    outline: none;
    transition: all 0.5s;
}

@media (max-width: 500px) {
    .header-content-middle-search {
        display: none;
    }
}

.header-content-middle-search:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgb(20 20 20);
}

.header-right {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    padding-right: 1rem;
}

.header-content-right-profile-picture {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.header-content-right-profile-name {
    font-weight: 600;
    text-transform: capitalize;
}

.header-content-right-profile-picture > img {
    margin-left: 0.75rem;
    height: 2rem;
    border-radius: 50%;
}

.main-body {
    position: relative;
    margin: 10rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

@media (min-width:0px) and (max-width: 400px) {
    .main-body {
        margin: 1rem !important;
        margin-top: 5rem !important;
        font-size: small !important;
    }
}

@media (max-width: 700px) {
    .main-body {
        margin: 2.5rem;
        margin-top: 5rem;
        font-size: medium;
    }
}

.ask {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    height: 10rem;
    padding: 2rem 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: rgb(31, 40, 45);
}

.ask-profile {
    display: flex;
    align-items: center;
}

.ask-profile > img {
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
    margin-right: 1.5rem;
}

strong {
    font-weight: 600;
}

.underline {
    text-decoration: underline;
}

.content {
    margin-top: 3rem;
}