# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
*/.DS_Store

# Bailey's stuff
baileys/
auth_info*.json
baileys_auth_info*
baileys_store*.json
output.csv
browser-messages.json
decoded-ws.json
lib
docs
browser-token.json
Proxy
messages*.json

# Prisma stuff
src/generated/