<footer class="min-w-full z-20 flex justify-center font-Lato-900 text-center my-4 leading-tight">
    <span class="text-slate-500">
        <pre>Copyright &copy 2022 SONICJ
All rights reserved</pre>
    </span>
</footer>