<footer class="min-w-full flex justify-center font-mono font-bold text-center my-4 leading-tight">
    <span class="text-slate-500">
        <pre>Copyright © 2022 SONICJ
All rights reserved</pre>
    </span>
</footer>