<header class="min-w-full flex fixed p-3 py-4 text-white backdrop-blur bg-gradient-to-r from-black/30 to-black/50">
    <div>
        <button class="px-4 py-2 w-20 mr-6 bg-slate-500 rounded-xl">Back</button>
        <button class="px-4 py-2 w-20 mr-6 bg-slate-500 rounded-xl">Home</button>
    </div>
    <div class="absolute right-0">
        <button class="px-4 py-2 w-20 mr-6 bg-slate-500 rounded-xl" data-toggle-color-scheme="">Toggle</button>
    </div>
</header>