<header class="min-w-full z-20 flex fixed p-3 py-4 text-white font-bold backdrop-blur bg-gradient-to-r from-sky-400/60 to-violet-900/50 border-solid border-b border-blue-500/40 dark:border-white/80">
    <div>
        <slot name="BackButton"/>
        <slot name="HomeButton"/>
    </div>
    <div class="absolute right-0">
        <button title="FAQs" class="px-2 py-2 w-auto mr-4 border-solid border-slate-200 border-2 bg-transparent rounded-xl" onclick="if (window.location.href.indexOf('help') == -1) window.location.href='./help'">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 01-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 01-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 01-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584zM12 18a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
            </svg>              
        </button>
        <button title="Toggle dark theme" class="px-2 py-2 w-auto mr-6 border-solid border-slate-200 border-2 bg-blue-500 dark:bg-orange-500 rounded-xl" id="toggle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
                <path d="M10 1a6 6 0 00-3.815 10.631C7.237 12.5 8 13.443 8 14.456v.644a.75.75 0 00.572.729 6.016 6.016 0 002.856 0A.75.75 0 0012 15.1v-.644c0-1.013.762-1.957 1.815-2.825A6 6 0 0010 1zM8.863 17.414a.75.75 0 00-.226 1.483 9.066 9.066 0 002.726 0 .75.75 0 00-.226-1.483 7.553 7.553 0 01-2.274 0z" />
            </svg>
        </button>
    </div>
</header>

<style is:global>
    button:not(#Redeem) {
        filter: brightness(100%);
        transition: all 0.25s;
    }

    button:hover:not(#Redeem) {
        filter: brightness(80%);
    }
</style>