<header class="min-w-full flex fixed p-3 py-4 text-white font-bold backdrop-blur bg-gradient-to-r from-sky-400/60 to-violet-900/50 border-solid border-b border-blue-500/40 dark:border-white/80">
    <div>
        <button class="px-4 py-2 w-20 mx-3 border-solid border-slate-200 border-2 bg-sky-400 dark:bg-yellow rounded-xl">Back</button>
        <button class="px-4 py-2 w-20 ml-2 border-solid border-slate-200 border-2 bg-sky-400 dark:bg-yellow rounded-xl">Home</button>
    </div>
    <div class="absolute right-0">
        <button class="px-4 py-2 w-20 mr-4 border-solid border-slate-200 border-2 bg-sky-400 dark:bg-yellow rounded-xl">Help</button>
        <button class="px-4 py-2 w-24 mr-6 border-solid border-slate-200 border-2 bg-blue-500 dark:bg-orange-500 rounded-xl" data-toggle-color-scheme="">Toggle</button>
    </div>
</header>