---
import Song from "./Song.astro";
import ThreeDotsIcon from "./ThreeDotsIcon.astro";
---

<main class="font-700">
    <div style="display: flex; flex-direction: column;">
        <div class="header">
            <a href="./songs">
                <div class="title underline">Songs</div>
                <div class="see-all font-400">SEE ALL</div>
            </a>
            <section id="songs">
                <Song songTitle="ハロ/ハワユ" songArtist="Kano" songLink="TEpo9vQkGKs" songThumbnail="https://lh3.googleusercontent.com/PLtFfqgEJBeWnmOBpXbmWGnhk3gkdwoI0wid0aRTbGY6MNcTYVdOFF7vET7nLD5WEofxBlk0OTRpSii9"/>
                <Song songTitle="Nadamesukashi Negotiation" songArtist="Kano" songLink="8TqbkDpqtD4" songThumbnail="https://lh3.googleusercontent.com/RfAkV--EzeI7PBt4nf9XHFj-JmgB9gx9iVFiW7z3cE7bSuVpRRIqNZ436wN41pxaqP-B5BBtQ79Zxhx_"/>
            </section>
        </div>
        <div class="header">
            <div class="title underline">Albums</div>
            <section id="albums">

            </section>
        </div>
        <div class="header">
            <a href="./songs">
                <div class="title underline">Singles</div>
                <div class="see-all font-400">SEE ALL</div>
            </a>
            <section id="singles">

            </section>
        </div>
    </div>
</main>

<style>
    main {
        padding-left: 2rem;
        margin-top: 3rem;
        position: absolute;
        z-index: 10;
        overflow-x: hidden;
        overflow-y: visible;
    }

    @media screen and (max-width: 300px) {
        main {
            padding-left: 2rem;
        }
    }

    @media screen and (min-width:381px) and (max-width: 580px) {
        main {
            padding-left: 2rem;
        }
    }

    @media screen and (min-width:581px) and (max-width:800px) {
        main {
            padding-left: 7rem;
        }
    }

    @media screen and (min-width:801px) {
        main {
            padding-left: 7rem;
        }
    }

    .header {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    a, a:visited {
        color: #FFFFFF;
        text-decoration: none;
    }

    .underline {
        text-decoration: underline;
    }

    .title {
        font-size: 2.5rem;
        display: inline-block;
        letter-spacing: -.02em;
        text-shadow: rgba(0,0,0,.171) .2rem -.12rem .5rem;
    }
    @media (min-width: 320px) and (max-width: 499px) {
        .title {
            font-size: 2rem;
        }
	}
	@media (min-width: 500px) and (max-width: 640px) {
        .title {
            font-size: 2rem;
        }
	}
    @media screen and (min-width: 642px) and (max-width: 839px) {
        .title {
            font-size: 2.5rem;
        }
    }
    @media screen and (min-width: 840px) {
        .title {
            font-size: 3.5rem;
        }
    }

    .see-all {
        font-size: smaller;
        color: gray;
    }

    section {
        width: calc(100vw - 14rem);
    }
</style>