<main class="font-700">
    <a href="./songs">
        <div class="title underline">Songs</div>
        <div class="see-all font-400">SEE ALL</div>
    </a>
</main>

<style>
    main {
        padding-left: 2rem;
        margin-top: 25rem;
        position: absolute;
        z-index: 10;
        overflow-x: hidden;
        overflow-y: visible;
    }

    @media screen and (max-width: 300px) {
        main {
            margin-top: 25rem;
            padding-left: 2rem;
        }
    }

    @media screen and (min-width:381px) and (max-width: 400px) {
        main {
            margin-top: 25rem;
            padding-left: 2rem;
        }
    }

    @media screen and (min-width:401px) and (max-width: 500px) {
        main {
            margin-top: 28rem;
            padding-left: 2rem;
        }
    }

    @media screen and (min-width:501px) and (max-width: 580px) {
        main {
            margin-top: 30rem;
            padding-left: 2rem;
        }
    }

    @media screen and (min-width:581px) and (max-width: 700px) {
        main {
            margin-top: 25rem;
            padding-left: 7rem;
        }
    }

    @media screen and (min-width:701px) and (max-width:800px) {
        main {
            margin-top: 28rem;
            padding-left: 7rem;
        }
    }

    @media screen and (min-width:801px) {
        main {
            margin-top: 32rem;
            padding-left: 7rem;
        }
    }

    a, a:visited {
        color: #FFFFFF;
        text-decoration: none;
    }

    .underline {
        text-decoration: underline;
    }

    .title {
        font-size: 2.5rem;
        display: inline-block;
        letter-spacing: -.02em;
        padding-top: 20%;
        text-shadow: rgba(0,0,0,.171) .2rem -.12rem .5rem;
    }
    @media (min-width: 320px) and (max-width: 499px) {
        .title {
            font-size: 2rem;
        }
	}
	@media (min-width: 500px) and (max-width: 640px) {
        .title {
            font-size: 2rem;
        }
	}
    @media screen and (min-width: 642px) and (max-width: 839px) {
        .title {
            font-size: 2.5rem;
        }
    }
    @media screen and (min-width: 840px) {
        .title {
            font-size: 3.5rem;
        }
    }

    .see-all {
        font-size: smaller;
        color: gray;
    }
</style>