<main class="font-700">
    <div style="display: flex; flex-direction: column;">
        <div class="header">
            <a href="./songs">
                <div class="title underline">Songs</div>
                <div class="see-all font-400">SEE ALL</div>
            </a>
        </div>
        <div class="header">
            <div class="title underline">Albums</div>
        </div>
        <div class="header">
            <a href="./songs">
                <div class="title underline">Singles</div>
                <div class="see-all font-400">SEE ALL</div>
            </a>
        </div>
    </div>
</main>

<style>
    main {
        padding-left: 2rem;
        margin-top: 3rem;
        position: absolute;
        z-index: 10;
        overflow-x: hidden;
        overflow-y: visible;
    }

    @media screen and (max-width: 300px) {
        main {
            padding-left: 2rem;
        }
    }

    @media screen and (min-width:381px) and (max-width: 580px) {
        main {
            padding-left: 2rem;
        }
    }

    @media screen and (min-width:581px) and (max-width:800px) {
        main {
            padding-left: 7rem;
        }
    }

    @media screen and (min-width:801px) {
        main {
            padding-left: 7rem;
        }
    }

    .header {
        margin-top: 20%;
    }

    a, a:visited {
        color: #FFFFFF;
        text-decoration: none;
    }

    .underline {
        text-decoration: underline;
    }

    .title {
        font-size: 2.5rem;
        display: inline-block;
        letter-spacing: -.02em;
        text-shadow: rgba(0,0,0,.171) .2rem -.12rem .5rem;
    }
    @media (min-width: 320px) and (max-width: 499px) {
        .title {
            font-size: 2rem;
        }
	}
	@media (min-width: 500px) and (max-width: 640px) {
        .title {
            font-size: 2rem;
        }
	}
    @media screen and (min-width: 642px) and (max-width: 839px) {
        .title {
            font-size: 2.5rem;
        }
    }
    @media screen and (min-width: 840px) {
        .title {
            font-size: 3.5rem;
        }
    }

    .see-all {
        font-size: smaller;
        color: gray;
    }
</style>