---
export interface Props {
	title: string;
	percent: string;
    addClass?: string;
}

const { title, percent, addClass } = Astro.props;
---

<div class="bar">
	<div class="info">
		<span>{title}</span>
	</div>
	<div class={`progress-line ${title} ${addClass}`}>
		<span style={`width: ${percent}`}></span>
	</div>
</div>

<style>
	.progress-line.CSS span::after {
		content: "96%";
	}
	.progress-line.HTML span::after {
		content: "100%";
	}
	.progress-line.Javascript span::after {
		content: "88%";
	}
	.progress-line.MarkDown span::after {
		content: "85%";
	}
	.progress-line.CSharp span::after {
		content: "90%";
	}
	.progress-line.Python span::after {
		content: "37%";
	}
	.progress-line.GDScript span::after {
		content: "95%";
	}
	.progress-line.Bash span::after {
		content: "90%";
	}
</style>
