<li><a href="https://www.facebook.com/sonicj.sonicj.3"						><i class="fab fa-facebook-square"	></i></a></li>
<li><a href="https://www.youtube.com/channel/UCyaSbQWYe3FRRRUIB9VNfew"		><i class="fab fa-youtube-square"	></i></a></li>
<li><a href="https://github.com/sonicjhon1"									><i class="fab fa-github-square"	></i></a></li>
<li><a href="https://www.instagram.com/sonicjhon1"							><i class="fab fa-instagram-square"	></i></a></li>