---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<h2>SPA Authentication Sample</h2>
    <p>Welcome to our page!</p>
    <button id="btn-login" disabled="true" onclick="login()">Log in</button>
    <button id="btn-logout" disabled="true" onclick="logout()">Log out</button>
</Layout>

<style>
	.hidden {
		display: none;
	}

	label {
		margin-bottom: 10px;
		display: block;
	}
</style>

<script is:inline>
	let auth0Client = null;

	const fetchAuthConfig = () => fetch("/auth_config.json");

	const configureClient = async () => {
  		const response = await fetchAuthConfig();
  		const config = await response.json();

  		auth0Client = await auth0.createAuth0Client({
    		domain: config.domain,
    		clientId: config.clientId
  		});
	};

	window.onload = async () => {
		await configureClient();

		updateUI();
	}

	const updateUI = async () => {
		const isAuthenticated = await auth0Client.isAuthenticated();

		document.getElementById("btn-logout").disabled = !isAuthenticated;
		document.getElementById("btn-login").disabled = isAuthenticated;
	};
</script>
