---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h2>SPA Authentication Sample</h2>
	<p>Welcome to our page!</p>
	<button id="btn-login" disabled="true" onclick="login()">Log in</button>
	<button id="btn-logout" disabled="true" onclick="logout()">Log out</button>
	<div class="hidden" id="gated-content">
		<p>
			You're seeing this content because you're currently
			<strong>logged in</strong>.
		</p>
		<label>
			Access token:
			<pre id="ipt-access-token"></pre>
		</label>
		<label>
			User profile:
			<pre id="ipt-user-profile"></pre>
		</label>
		<button onclick="pingWorker()">Test</button>
	</div>
</Layout>

<style>
	.hidden {
		display: none;
	}

	label {
		margin-bottom: 10px;
		display: block;
	}
</style>

<script is:inline>
	function setCookie(name, value, days) {
		var expires = "";
		if (days) {
			var date = new Date();
			date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
			expires = "; expires=" + date.toUTCString();
		}
		document.cookie = name + "=" + (value || "") + expires + "; path=/";
	}
</script>

<script is:inline>
	let auth0Client = null;

	const fetchAuthConfig = () => fetch("/auth_config.json");

	const configureClient = async () => {
		const response = await fetchAuthConfig();
		const config = await response.json();

		auth0Client = await auth0.createAuth0Client({
			domain: config.domain,
			clientId: config.clientId,
		});
	};

	window.onload = async () => {
		await configureClient();

		updateUI();

		const isAuthenticated = await auth0Client.isAuthenticated();

		if (isAuthenticated) {
			// Show the gated content
			return;
		}

		// Check for the code and state parameters
		const query = window.location.search;
		if (query.includes("code=") && query.includes("state=")) {
			// Process the login state
			await auth0Client.handleRedirectCallback();

			updateUI();

			// Use replaceState to redirect the user away and remove the querystring parameters
			window.history.replaceState({}, document.title, "/");
		}
	};

	const updateUI = async () => {
		const isAuthenticated = await auth0Client.isAuthenticated();

		document.getElementById("btn-logout").disabled = !isAuthenticated;
		document.getElementById("btn-login").disabled = isAuthenticated;

		if (isAuthenticated) {
			document.getElementById("gated-content").classList.remove("hidden");
			document.getElementById("ipt-access-token").innerHTML = await auth0Client.getTokenSilently();
			document.getElementById("ipt-user-profile").textContent = JSON.stringify(await auth0Client.getUser());
		} else {
			document.getElementById("gated-content").classList.add("hidden");
		}
	};

	const login = async () => {
		await auth0Client.loginWithRedirect({
			authorizationParams: {
				redirect_uri: window.location.origin,
			},
		});
	};

	const logout = () => {
		auth0Client.logout({
			logoutParams: {
				returnTo: window.location.origin,
			},
		});
	};

	async function pingWorker() {
		let token = await auth0Client.getTokenSilently();
		let cookieTokenName = "uw" + "u12" + '3' + "sj";
		const myRequest = new Request("https://gt-reminder.sonicj.workers.dev", {
			method: "GET",
			headers: {
				Authorization: token,
			},
		});
		fetch(myRequest)
			.then((response) => {
				return response.json();
			})
			.then((data) => {
				if (data) {
					setCookie(cookieTokenName, token, 31);
				}
			});
	}
</script>
