---
import Fonts from "../components/Fonts.astro";

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>KanoColle - 鹿乃's Collection</title>
		<Fonts/>
	</head>
	<body class="font-400">
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Commissioner', system-ui, sans-serif;
		background-color: #4e4e4e;
	}

	* {
		margin: 0px;
	}
</style>
