<section id="project" class="section">
  <div class="homecolor-box"></div>
  <div class="common_bg animate__animated animate__fadeInLeft">
    <div class="container">
      <div class="text-center">
        <!-- Project-Title Start -->
        <div class="row">
          <div class="col-12">
            <div
              class="section-title animate__animated animate__fadeInDown animate__delay-1s"
            >
              <p class="common-desctiption">Showcasing some of my work</p>
              <h1 class="common-title">My <span>Projects</span></h1>
              <div class="animated-bar"></div>
            </div>
          </div>
        </div>
        <!-- Project-Title Start -->
        <!-- Project nav-button start  -->
        <div class="row">
          <div class="col-lg-12">
            <div
              class="portfolio-menu animate__animated animate__fadeInUp animate__delay-2s"
            >
              <nav class="controls">
                <button type="button" class="control clickbtn" data-filter="all"
                  >All</button
                >
                <button
                  type="button"
                  class="control clickbtn"
                  data-filter=".webdesign">WEBSITES</button
                >
                <button
                  type="button"
                  class="control clickbtn"
                  data-filter=".gfx">GFXs</button
                >
              </nav>
            </div>
          </div>
        </div>
        <!-- Project nav-button End  -->
        <!-- Project Mix Content Start -->
        <div
          class="row portfolio-list animate__zoomIn animate__animated animate__delay-3s"
        >
          <div class="container">
            <ul class="row ps-0">
              <!-- Mix Content-Box -->
              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/1.png"
                  data-caption="20 April 2021"
                  data-size="2160x2160"
                >
                </a>
              </li>

              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/2.png"
                  data-caption="13 May 2021"
                  data-size="2160x2160"
                >
                </a>
              </li>

              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/3.png"
                  data-caption="13 May 2021"
                  data-size="2160x2160"
                >
                </a>
              </li>

              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/4.png"
                  data-caption="1 June 2021"
                  data-size="2160x2160"
                >
                </a>
              </li>

              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/5.png"
                  data-caption="11 June 2021"
                  data-size="3840x2160"
                >
                </a>
              </li>

              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/6.png"
                  data-caption="26 June 2021"
                  data-size="3240x1080"
                >
                </a>
              </li>

              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/7.png"
                  data-caption="7 July 2021"
                  data-size="1080x1080"
                >
                </a>
              </li>

              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/8.png"
                  data-caption="11 August 2021"
                  data-size="1440x1440"
                >
                </a>
              </li>

              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/9.png"
                  data-caption="20 August 2021"
                  data-size="2160x2160"
                >
                </a>
              </li>

              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/10.png"
                  data-caption="16 February 2022"
                  data-size="1080x1080"
                >
                </a>
              </li>

              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/11.png"
                  data-caption="3 March 2022"
                  data-size="2160x2160"
                >
                </a>
              </li>

              <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/GFX/12.png"
                  data-caption="21 June 2022"
                  data-size="1080x1920"
                >
                </a>
              </li>

              <li class="mix webdesign col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/WEB/01.jpg"
                  data-thumb="assets/images/WEB/01.webp"
                  data-caption="01 Redirect-UI/index.html"
                >
                </a>
              </li>
              <li class="mix webdesign col-xl-3 col-lg-4 col-md-6">
                <a
                  title="click to zoom-in"
                  href="assets/images/WEB/03.jpg"
                  data-thumb="assets/images/WEB/03.webp"
                  data-caption="03 Genshin-Redeem-Code-UI/index.html"
                >
                </a>
              </li>

              <!--
                    <li class="mix gfx col-xl-3 col-lg-4 col-md-6">
                      <a title="click to zoom-in" href="assets/images/GFX/4.png" data-caption="2021" data-size="2160x2160">
                        <img src="assets/images/GFX/4.png" alt="2021"/>
                        <div class="info">
                          <h3 class="title">GFX</h3>
                          <span class="post">View</span>
                        </div>
                      </a>
                    </li>
                    -->
            </ul>
          </div>
        </div>
        <!-- Portfolio Mix Content End -->
      </div>
    </div>
  </div>
</section>