---
import Header from '../components/Header.astro';
import Wrapper from '../components/Wrapper.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div id="app">
		<Header/>
		<Wrapper/>
	</div>
</Layout>