---
import Styles from "../components/Styles.astro";
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>NNN - NachoNeko'sNyaanime</title>
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image:type" content="large" />
    <meta property="og:site_name" content="NachoNeko'sNyaanime" />
    <meta name="keywords" content="watch animes, animes online, anime adsfree, adfree anime" />
    <meta name="theme-color" content="#0F0F0F" />
    <meta name="applie-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#0F0F0F" />
    <meta name="description" content="Watch anime shows, tv, movies for free without ads on your mobile, tablet, or pc" />
    <meta property="og:title" content="NNN - NachoNeko'sNyaanime - Watch animes without ads" />
    <meta
      property="og:description"
      content="Watch anime shows, tv, movies for free without ads on your mobile, tablet, or pc"
    />
    <meta property="og:image" content="./thumb.webp" />
    <meta property="og:image:alt" content="Site preview image" />
    <Styles/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
  audio.sc-vm-file,
  video.sc-vm-file {
    border-radius: inherit;
    vertical-align: middle;
    width: 100%;
    outline: 0;
  }
  video.sc-vm-file {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    height: 100%;
    user-select: none;
  }
</style>