---
import Header from "./Header.astro";
import Messages from "./Messages.astro";
import InputBar from "./InputBar.astro";
---

<div>
	Here lies the main component.
	<Header />
	<Messages />
	<InputBar />
</div>
