---
import Button from "./utils/Button.astro";
---

<div class="flex flex-col p-4 md:min-w-[13%]">
	<div class="btn max-2xl:btn-sm max-xl:btn-xs btn-outline normal-case text-xl max-lg:text-[0.5rem] py-8 max-2xl:py-6 max-xl:py-5 mb-2 2xl:mb-1 content-center max-md:hidden">Gawr グラ</div>
	<div class="divider max-2xl:my-2 max-xl:my-1 max-lg:hidden"></div>
	<div class="flex flex-col flex-1">
		<Button name="ph:chats" text="All Chats"/>
		<Button name="ph:archive" text="Archived"/>
		<Button name="ph:chat-teardrop" text="Private"/>
		<Button name="ph:chats-teardrop" text="Group"/>
	</div>
	<div class="divider max-2xl:my-2 max-xl:my-1 max-lg:hidden"></div>
	<div class="flex flex-col">
		<Button name="ci:refresh-02" text="Reload"/>
		<Button name="ci:user-circle" text="Profile"/>
		<Button name="ci:settings" text="Settings"/>
	</div>
</div>
